name: Hello World Action
on: [push]
  jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v5
        
        - name: run 
          run: echo "Hello, World!"
